<ul class="nav nav-sidebar">
- if current_user # TODO(btc): is_admin
  %li
    = link_to 'Metrics', admin_metrics_index_path
  %li
    = link_to 'News', admin_news_items_path
  %li
    = link_to 'Stations', admin_stations_path
  %li
    = link_to 'Social Media', admin_socialmedia_path
  %li
    = link_to 'On-air Schedules', admin_programs_calendar_path
  %li
    = link_to 'Manage Admins', admin_users_path
  %li
    = link_to 'http://fms.ttrn.org:8088', target: '_blank' do
      <i class="fa fa-external-link" aria-hidden="true"></i>
      Streaming Server
  %li
    = link_to 'https://trello.com/b/i70eodyh/product-development', target: '_blank' do
      <i class="fa fa-external-link" aria-hidden="true"></i>
      Trello Board
  %li
    = link_to 'https://console.aws.amazon.com/elasticbeanstalk/home?region=us-east-1#/application/overview?applicationName=ttrn-api', target: '_blank' do
      <i class="fa fa-external-link" aria-hidden="true"></i>
      AWS Beanstalk
</ul>
