<ul class="nav nav-sidebar">
%li
  = link_to 'Metrics', admin_metrics_this_time_then_path
%li
  = link_to 'Stations', admin_stations_path
%li
  = link_to 'Social Media', admin_socialmedia_path
%li
  = link_to 'Schedules', admin_schedule_path
%li
  = link_to 'Manage Admins', admin_users_path
%li
  = link_to sidekiq_web_path, target: '_blank' do
    <i class="fa fa-external-link" aria-hidden="true"></i>
    Background Jobs
%li
  = link_to 'http://fms.ttrn.org:8088', target: '_blank' do
    <i class="fa fa-external-link" aria-hidden="true"></i>
    Streaming Server
</ul>
</div>
