= render 'admin/programs/tabs'

= month_calendar do |date|

  - if date == Date.today
    %strong
      = "#{date.day}/#{date.month}"
  - else
    = "#{date.day}/#{date.month}"

  <br>
  - @programs.each do |e|
    - if e.schedule != nil and e.schedule.occurs_on? date
      = link_to edit_admin_program_path(e) do
        %small
          = e.name
      <br>
