.mt20.ml20
  = link_to new_admin_news_item_path do
    .btn.btn-primary
      New
.container-fluid
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.mt20
      .panel.panel-default
        .panel-body
          %ul.nav.nav-tabs
            %li{class: ("active" if params[:category] == nil)}
              = link_to "All", admin_news_items_path
            - NewsCategory.order(priority: :asc).all.each do |category|
              = activatable_li_tag_with_link category.name, admin_news_items_path(category: category.name)
            = activatable_li_tag_with_link "Uncategorized (#{ NewsItem.where(category: nil).count })", admin_news_items_path(category: 'Uncategorized')
          %table.table
            %thead
              %tr
                %th.col-md-1 thumb
                %th.col-md-6 title
                %th.col-md-2 state
                %th.col-md-3
                  -# actions
            %tbody
              - @news_items.each do |i|
                %tr
                  %td= image_tag i.photo.url(:thumb)
                  %td
                    = i.straphead
                    <br/>
                    = link_to i.title, [:admin, i]
                    <br/>
                    = i.subtitle
                  %td
                    %span.label= i.state
                  %td
                    .btn-group.btn-group-xs
                      -#    before         after           message       class
                      - [ ['draft',       'published',    'Publish',    'btn btn-primary'],
                          ['published',   'unpublished',  'Unpublish',  'btn btn-default'],
                          ['unpublished', 'republished',  'Republish',  'btn btn-primary'],
                          ['republished', 'unpublished',  'Unpublish',  'btn btn-default'],
                      ].each do |operation|
                        - if i.state == operation[0]
                          = button_to [:admin, i],
                            method: :patch,
                            params: { news_item: { state: operation[1] } },
                            class: operation[3] do
                            = operation[2]
                      = button_to [:admin, i], class: 'btn btn-danger', method: :delete do
                        %i.fa.fa-trash
