.container-fluid
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.mt20
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Preview
        .panel-body
          .news-item
            = link_to 'Edit', edit_admin_news_item_path(@news_item)
            \|
            = link_to 'Back', admin_news_items_path
            \|
            = link_to 'Crop Photo', crop_admin_news_item_path

            %p#notice= notice

            .photo
              = image_tag @news_item.photo.url(:large)
              <br>
              %small
                = @news_item.photo_caption
            .container-fluid
              .row
                .col-xs-0.col-sm-0.col-md-3.col-lg-3.mt20
                .col-xs-12.col-sm-12.col-md-6.col-lg-6.mt20
                  %h4
                    = @news_item.straphead
                  %h1
                    = @news_item.title
                  %h4
                    = @news_item.subtitle
                  %p
                    = @news_item.body.html_safe
.container-fluid
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.mt20
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Original Photo
        .panel-body
          .news-item
            .photo
              = image_tag @news_item.photo.url
.container-fluid
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.mt20
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Thumbnail
        .panel-body
          .news-item
            .photo
              = image_tag @news_item.photo.url(:thumb)
