.container-fluid
  .row
    .col-xs-12.col-sm-12.col-md-6.col-lg-6.mt20
      .panel.panel-default
        .panel-heading
          Welcome to the TTRN/OJO Operations site.
        .panel-body
          Get started by checking out one of the items on the menu to the left.
          <br/>
          <br/>
          If the list is empty, you don't have permission to access anything yet.
          <br/>
          <br/>
          If you need assistance, send an email to Brian:
          = mail_to 'brian@ttrn.org'
    - Station.all.each do |s|
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.mt20
        .panel.panel-default
          .panel-heading
            Now Playing on #{s.name}
          .panel-body
            - e = s.now_playing_metadata
            - if e != nil
              .now-playing
                - if e.media_type != ""
                  .media-type.label
                    = e.media_type
                .image
                  - if e.image != nil
                    = image_tag e.image.url
                .title
                  = e.title
                .artist
                  = e.artist
                .album
                  = e.album
