= render 'admin/schedules/tabs'

= params[:start_date]
= week_calendar number_of_weeks: 1 do |date|
  = date.day
  - Event.all.each do |e|
    - if e.schedule != nil and e.schedule.occurs_on? date
      .div
        = e.name
