= render 'admin/schedules/tabs'

%table.table.table-striped
  %tr
    %th.span1 name
    %th.span1 start
    %th.span1 recurrences
    %th.span1
      -# destroy
  - @programs.each do |p|
    %tr
      %td= p.name
      %td= time_tag p.schedule.start_time
      %td= p.schedule
      %td= button_to 'delete', [:admin, p], method: :delete, class: 'btn btn-danger'
